<input type="text" name="mobile" id="mobile_id2">

<body>
    <select id="providers_id">
        <% for(var i =0 ; i < providers.length; i++) { %>
        <option value="<%- providers[i] %>"><%- providers[i] %></option>
        <% } %>
    </select>
</body>

<form action="/getLink" method="POST" id="link_area_id">
    <input type="hidden" name="mobile" value="" id="mobile_id">
    <input type="hidden" name="provider" value="" id="provider_id">
    <input type="hidden" name="links" value="" id="links_id">
    <textarea id="text_id" name="message" rows="20" cols="50"></textarea>
    <br>
    <input type="button" id="get_links_id" value="Get links">
    <input type="button" id="put_links_id" value="PUT LINKS !!!! " style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <input type="button" id="delete_links_id" value="Delete LINKS !!!! ">
</form>



<script
src="https://code.jquery.com/jquery-3.5.0.min.js"
integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
crossorigin="anonymous"></script>
<script>
    $(document).on('click', '#get_links_id', function () {
        let mobile = $('#mobile_id2').val();
        let provider = $("#providers_id option:selected").text();
        $('#mobile_id').val(mobile);
        $('#provider_id').val(provider);
        if (mobile && provider) {
            $.ajax({
                type: 'POST',
                url: 'getLink', // or whatever
                data: $("#link_area_id").serialize(),
                success: function (response) {
                    document.getElementById('link_area_id').reset();
                    $('#put_links_id').css('display', '');
                    $('#text_id').val(response);

                }

            });
        } else {
            alert('Nisi uneo sva polja');
        }


    });



    $(document).on('click', '#delete_links_id', function () {

        let mobile = $('#mobile_id2').val();
        let provider = $("#providers_id option:selected").text();
        $('#mobile_id').val(mobile);
        $('#provider_id').val(provider);
        if (mobile && provider) {
            $.ajax({
                type: 'POST',
                url: 'deleteLink', // or whatever
                data: $("#link_area_id").serialize(),
                success: function (response) {
                    alert('izbrisano')
                }

            });
        } else {
            alert('Nisi uneo sva polja');
        }


    });

    $(document).on('click', '#put_links_id', function () {

        let mobile = $('#mobile_id').val();
        let provider = $("#providers_id option:selected").text();
        let links = $('#text_id').val();
        links = links + '\n';
        $('#text_id').val(links);
        $('#mobile_id').val(mobile);
        $('#provider_id').val(provider);
        if (mobile && provider && links) {
            $.ajax({
                type: 'POST',
                url: 'linksinsert', // or whatever
                data: $("#link_area_id").serialize(),
                success: function (response) {
                    document.getElementById('link_area_id').reset();
                    $('#text_id').val('');
                    $('#link_area_id').trigger("reset");
                    $('#put_links_id').css('display', 'none');

                }

            });
        } else {
            alert('Nisi uneo sva polja');
        }


    });


</script>